
$logo-clr: #ffc01f;
$helio-gry: #3a393a;
$content-clr: #cdcdcd;
$header-clr: #fff;
$card-clr: #545353;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}
img:not([src^='https://heliotraining.com']){
  max-width: 235px;
}

.page-wrap {
  width: 960px;
  margin: 0 auto;
}

header{
    text-align: center;
}

body{
    width: 960px;
    background-color: #3a393a;
}
.top {
    display: grid;
    grid-column: 1fr 2fr;
}
.name{

}

.date {
    
}
.reasonHelio{
    background-color: #545353;
}
.container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

h3 {
    color: #ffc01f;
}


li {
    color: #ffffff;
}